body {
    margin: 0;

}
body .nav-bar {
    overflow: hidden;
    background-color: whitesmoke;
    position: sticky;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 100;
}

body .nav-bar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

body .nav-bar a.right {
    float: right;
}

body .nav-bar a:hover {
    color: rgb(231, 105, 168);
}
